/* Debugging */

/* * {
    outline: 1px solid red;
  }  */


/* General Styling */
html {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    background-color: #181823 !important;
}

.section {
    margin: 0;
    padding: 0;
    margin-left: 200px !important;
}

a:link {text-decoration: none;}

@media (max-width: 992px) {
    .section {
        margin-left: 0px !important;
    }
}
/* End General Styling */

/* Menu Styling */
#menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
    background-color: #000000;
}

.menu_content {
    width: 100%;
    display: block;
}

.menu_link {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6.5vh 0 6.5vh;
    color: white;
}

.menu_link:hover {
    opacity: 0.7;
}

.menu_title {
    margin: 0;
}

.menu_img {
    width: 200px;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
}

@media (max-width: 992px) {
    #menu {
        visibility: hidden;
    }
}
/* End Menu Styling */

/* Head Styling */
#head {
    overflow: hidden;
}

.named_logo {
    position: relative;
    top: 0;
    right: 0;
    /* background-color: #6325e2 */
}

.head_img {
    padding-top: 5vh;
}
.head_text {
    color: white;
}



@media (min-width: 992px) {
    .head_img {
    z-index: 2;
    padding-left: 5vh !important;
    padding-bottom: 5vh !important;
    }

    .head_text {
        position: relative;
        top: 15vh;
        right: 8vh;
        z-index: 2;
    }
}

@media (min-width: 1076px) {
    .head_title {
        width: 92%;
        padding-bottom: 10vh;
    }
}

@media (min-width: 1200px) {
    .head_title {
        width: 92%;
        padding-bottom: 16vh;
    }
}

@media (max-width: 992px) {
    #head {
        width: 100%;
        padding: 0 !important;
        margin: 0 !important;
    }
    .head_img {
        width: 100%;

        margin: 0;
    }
    .head_text {
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

@media (max-width: 1076px) {
    .head_title {
        width: 92%;
        padding-bottom: 6vh;
    }
}

/* End Head Styling */

/* About Styling */
#about {
    background-color: #6e6159;
}
.about_info {
    padding-top: 2vh;
    padding-bottom: 3vh;
}

.about_link {
    text-align: center;
    margin: 1rem 0 1rem;
}

.about_link:hover {
    opacity: 0.7;
}

.about_title {
    margin-top: 0.3rem;
}
/* End About Styling */

/* Work Styling */
#work {
    padding-top: 2vh;
    padding-bottom: 3vh;
    background-color: #cab9af;
}
.work_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 576px) {
    .work_grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .work_link {
        display: grid;
        padding: 3vh;
    }

    .work_img {
        max-width: 600px;
        justify-self: center;
    }
}


@media (max-width: 476px) {
    .work_link {
        padding: 2vh !important
    }
}
/* End Work Styling */

/* Contact Styling */
#contact {
    padding-top: 2vh;
    background-color: #779ab4;
}

.fa {
    border-radius: 50%;
    width: 40px; 
    height: 40px;
    font-size: 29px !important;
    text-align: center !important;
    line-height: 40px !important;
    margin: 0 1.5vh 0;
  }

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    line-height: 42px !important;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    margin-left: 0 !important;
}

.copyright {
    margin: 1rem 0 0.38rem !important;
}

.contact_boxleft.contact_form {
    padding: 0 0.3rem 0 !important
}

.contact_text {
    height: 100% !important;
    width: 100% !important;
}

.contact_icons {
    height: 100% !important;
    padding: 0.5vh 0.3rem 1vh;
    padding-right: 1vh;
    padding-bottom: 1vh;
    align-items: center !important;
    justify-content: center;
}

.contact_button {
    margin-bottom: 0.38rem;
}
/* End Contact Styling */